body {
  margin: 0;
  background-color: #444;
  color: #ccc;
  font-family: 'Helvetica', sans-serif;

  #root {
    height: 100%;
  }

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-size: 2.4rem;
    padding: 1.5rem 0;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .logo {
    font-size: 1.4rem;
  }

  .App {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    
    .header {
      background-color: #222;
      padding: 1rem;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h1 {
        margin: 0;
      }
    }

    .nav {
      padding: 1rem;
    }

    .main {
      padding: 1rem;
      overflow-y: auto;
    }
    .footer {
      display: flex;
      justify-content: center;
      background-color: #222;
      color: #666;
      padding: 1rem;
    }
  }
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.content-grid {
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    background-color: #333;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #666;
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li + li {
        margin-top: 0.5rem;
      }
    }
  }
}

.loading-wrap {
  text-align: center;
  margin-top: 250px;
}

.button-bar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}